<% if (locals.errors && errors.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul class="error-list text-left">
            <% errors.forEach(function(error){ %>
                <li>
                    <%- error %>
                </li>
            <% }) %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<link rel="stylesheet" type="text/css" href="styles/error.css">