<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-1">
    <a class="navbar-brand" href="/">AuditaCE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/fiscalizacao">Fiscalização</a>
            </li>
        </ul>
    </div>
</nav>