<div class="container">
    <%- include('../components/header') %>
    <nav aria-label="breadcrumb bg-dark">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="material-icons">home</i></a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/fiscalizacao">Fiscalização</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/fiscalizacao/contrato/<%= contrato.id %>">Detalhamento</a></li>
            <li class="breadcrumb-item active" aria-current="page">Denúncia</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mb-4">Denúncia</h3>
            <h5 class="text-center mb-4">Contrato <%= contrato.numero_contrato %></h5>
        </div>
    </div>
    <form action="/api/denuncia" method="POST">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <label for="nome">Nome Completo</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="nome" id="nome" required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <label for="cpf">CPF</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="cpf" id="cpf" 
                    pattern="([0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[-][0-9]{2})" required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <label for="tipo">Denúncia</label>
                <div class="form-group">
                    <select class="form-control" name="tipo" required id="tipo">
                        <option selected disabled></option>
                        <option value="0">Direcionamento de licitação</option>
                        <option value="1">Notas frias</option>
                        <option value="2">Falta de publicidade de licitação</option>
                        <option value="3">Ausência de controle de almoxarifado</option>
                        <option value="4">Recurso utilizado para outro fim</option>
                        <option value="5">Produto fora da validade</option>
                        <option value="6">Serviço/produto não fornecido</option>
                        <option value="7">Contrato acima de demanda</option>
                        <option value="8">Entrega abaixo do contratado</option>
                        <option value="9">Produto com avaria</option>
                        <option value="10">Obra atrasada</option>
                        <option value="11">Outra</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" required name="descricao" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="anonimo" value="true" id="anonimo">
                    <label class="form-check-label" for="anonimo">Anônimo</label>
                </div>
            </div>
        </div>

        <input type="hidden" name="tipo_item" value="0">
        <input type="hidden" name="id_item" value="<%= contrato.id %>">

        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-right">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>


<link rel="stylesheet" type="text/css" href="/styles/breadcrumb.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" 
integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" 
crossorigin="anonymous"></script>

<script src="/scripts/denuncia.js"></script>

<%- contentFor('title') %>
<title>AuditaCE - Denúncia</title>