
<%
var tipo_denuncia = [
    'Direcionamento de licitação',
    'Notas frias',
    'Falta de publicidade de licitação',
    'Ausência de controle de almoxarifado',
    'Recurso utilizado para outro fim',
    'Produto fora da validade',
    'Serviço/produto não fornecido',
    'Contrato acima de demanda',
    'Entrega abaixo do contratado',
    'Produto com avaria',
    'Obra atrasada',
    'Outra'
]

var dataIni = new Date (contrato.data_inicio_vigencia_contrato);
var dataFim = new Date (contrato.data_fim_vigencia_contrato);
var dataAtual = new Date();
var vigente = (dataAtual >= dataIni && dataAtual <= dataFim) ? 'Sim' : 'Não';
%>


<div class="container">
    <%- include('../components/header') %>
    <nav aria-label="breadcrumb bg-dark">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="material-icons">home</i></a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/fiscalizacao">Fiscalização</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhamento</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mb-4">Detalhamento</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-bg py-3">
            <div class="row">
                <div class="col-12 text-right">
                    <button class="btn btn-sm btn-outline-secondary">Exportar</button>
                    <a href="/denuncia/contrato/<%= contrato.id %>" class="btn btn-sm btn-danger">Denunciar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Informações Gerais</h4>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Município</b>: <%= municipio.nome_municipio %>
                        </li>
                        <li class="list-group-item">
                            <b>Número de contrato</b>: <%= contrato.numero_contrato %>
                        </li>
                        <li class="list-group-item">
                            <b>CPF de gestor</b>: <%= contrato.cpf_gestor %>
                        </li>
                        <li class="list-group-item">
                            <b>Tipo de contrato</b>: <%= contrato.tipo_contrato == 'O'? 'Outros contratos' : 'Contratos de obras/serv. de engenharia' %>
                        </li>
                        <li class="list-group-item">
                            <b>Modalidade de contrato</b>: <% if (contrato.modalidade_contrato == 'OR') { %>
                            Contrato Original
                            <% } else if ('AA') { %>
                            Aditivo de Acréscimo
                            <% } else if ('AR') {%>
                            Aditivo de Redução
                            <% } %>
                        </li>
                        <% if (contrato.modalidade_contrato != 'OR') { %>
                            <li class="list-group-item">
                                <b>Número de contrato original</b>: <%= contrato.numero_contrato_original %>
                            </li>
                        <% } %>
                        <li class="list-group-item">
                            <b>Valor de contrato</b>: R$ <%= parseFloat(contrato.valor_total_contrato).toFixed(2).toString().replace('.', ',') %>
                        </li>
                        <li class="list-group-item">
                            <b>Descrição</b>: <%= contrato.descricao_objeto_contrato %>
                        </li>
                        <li class="list-group-item">
                            <b>Data de contrato</b>: <%= function () { 
                                var data = new Date(contrato.data_contrato);
                                var yyyy = data.getFullYear();

                                var dd = data.getDate();
                                dd = dd < 10 ? '0' + dd : dd;

                                var mm = data.getMonth() + 1;
                                mm = mm < 10 ? '0' + mm : mm;

                                return dd + '/' + mm + '/' + yyyy;
                            }() %>
                        </li>
                        <li class="list-group-item">
                            <b>Contrato em vigência</b>: <%= vigente %>
                        </li>
                        <li class="list-group-item">
                            <b>Contratado</b>: <%= contrato.nome_negociante %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Alertas <small class="">(Nível: <%- contrato.alerta_nota %> <i data-toggle="tooltip" title="Nível de potencial de irregularidade calculado com base nos pesos dos alertas" class="material-icons help">help</i>)</small></h4>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item <%= (contrato.alerta_denuncias >= 1) ? 'bg-danger':''; %>">
                                    <b>Denúncias</b>: <%- contrato.alerta_denuncias > 0 ? contrato.alerta_denuncias + ' <i class="material-icons alerts">error_outline</i>' : '0 <i class="material-icons clean">done</i>' %> <i data-toggle="tooltip" title="Denúncias feitas por usuários" class="material-icons help">help</i>
                                </li>
                                <li class="list-group-item <%= (contrato.alerta_financiador) ? 'bg-danger':''; %>">
                                    <b>Financiador de campanha</b>: <%- contrato.alerta_financiador ? 'Sim <i class="material-icons alerts">error_outline</i>' : 'Não <i class="material-icons clean">done</i>' %>  <i data-toggle="tooltip" title="O contratado foi financiador em campanha de eleição do município" class="material-icons help">help</i>
                                </li>
                                <li class="list-group-item <%= (contrato.alerta_valor) ? 'bg-danger':''; %>">
                                    <b>Compra no limite</b>: <%- contrato.alerta_valor ? 'Sim <i class="material-icons alerts">error_outline</i>' : 'Não <i class="material-icons clean">done</i>' %> <i data-toggle="tooltip" title="Valor do contrato foi próximo ao limite de 10% que é o valor de dispensa para licitação por carta convite" class="material-icons help">help</i>
                                </li>
                                <li class="list-group-item <%= (contrato.alerta_recente) ? 'bg-danger':''; %>">
                                    <b>Data de abertura</b>: <%- contrato.alerta_recente ? 'Sim <i class="material-icons alerts">error_outline</i>' : 'Não <i class="material-icons clean">done</i>' %> <i data-toggle="tooltip" title="Empresa contratada foi aberta próximo ao início ou no início da gestão que o contrato foi feito" class="material-icons help">help</i>
                                </li>
                                <li class="list-group-item <%= (contrato.alerta_distante) ? 'bg-danger':''; %>">
                                    <b>Fornecedor distante</b>: <%- contrato.alerta_distante ? 'Sim <i class="material-icons alerts">error_outline</i>' : 'Não <i class="material-icons clean">done</i>' %> <i data-toggle="tooltip" title="Fornecedor é geograficamente distante do município" class="material-icons help">help</i>
                                </li>
                                <li class="list-group-item  <%= (contrato.alerta_frequente) ? 'bg-danger':''; %>">
                                    <b>Fornecedor frequente</b>: <%- contrato.alerta_frequente ? 'Sim <i class="material-icons alerts">error_outline</i>' : 'Não <i class="material-icons clean">done</i>' %> <i data-toggle="tooltip" title="Fornecedor fechou outros contratos em curto espaço de tempo" class="material-icons help">help</i>
                                </li>
                                <!-- <li class="list-group-item">
                                    <b>Nível de alerta</b>: <%- contrato.alerta_nota %> <i data-toggle="tooltip" title="descricao sobre" class="material-icons help">help</i>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Denúncias</h4>
                </div>
            </div>
            <% denuncias.forEach(function (denuncia) { %>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-secondary" role="alert">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row col-12">
                                        <ul class="list-inline">
                                            <li class="list-inline-item mr-3 my-1">
                                                <b>Tipo</b>: <%= tipo_denuncia[denuncia.tipo] %>
                                            </li>
                                            <% if(!denuncia.anonimo) { %>
                                                <li class="list-inline-item mr-3 my-1">
                                                    <b>CPF</b>: <%= denuncia.cpf %>
                                                </li>
                                            <% } %>
                                            <li class="list-inline-item mr-3 my-1">
                                                <b>Descrição</b>: <%= denuncia.descricao %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            

        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="/styles/breadcrumb.css">
<link rel="stylesheet" type="text/css" href="/styles/details.css">

<script src="/scripts/details.js"></script>

<%- contentFor('title') %>
<title>AuditaCE - Detalhamento</title>