<div class="container">
    <%- include('../components/header') %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="material-icons">home</i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiscalização</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Fiscalização</h3>
            <form id="search">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control my-2" name="begin" id="begin" required placeholder="Data de início*"
                            pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                            title="Deve ser uma data válida no formato 'dd/mm/aaaa'."/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control my-2" name="end" id="end" required placeholder="Data de fim*"
                            pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                            title="Deve ser uma data válida no formato 'dd/mm/aaaa'."/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control my-2" name="min" id="min" required placeholder="Valor mínimo*"
                            title="Deve ser um valor com até duas decimais."/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control my-2" name="max" id="max" required placeholder="Valor máximo*"
                            title="Deve ser um valor com até duas decimais."/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <select required class="form-control my-2" name="city" id="city">
                                <option selected disabled>Cidade*</option>
                                <% municipios.forEach(municipio => { %>
                                    <option class="city-opt" value="<%= municipio.codigo_municipio %>"><%= municipio.nome_municipio %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control my-2" name="fornecedor" id="fornecedor" placeholder="Fornecedor"
                            title="Nome do fornecedor."/>
                        </div>
                    </div>
                    <input type="hidden" value="CONTRATO" name="type" required id="type">
                    <!-- <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <select class="form-control my-2" name="type" required id="type">
                                <option selected disabled>Categoria de busca*</option>
                                <option value="CONTRATO">CONTRATO</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-md-12 col-lg-6 text-right">
                        <button type="submit" class="btn btn-success px-5 my-2">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-bg py-3">
            <div id="export-div" class="text-right">
                <button class="btn btn-sm btn-outline-secondary">Exportar</button>
            </div>
            <div id="list-items" class="list my-3">
                <h3 id="loading-msg" class="text-center">Carregando...</h3>
                <h3 id="empty-msg" class="text-center">Nenhum item encontrado</h3>
                <div id="items">

                </div>
                
            <div id="paginator">
                Página: <select name="page">
                </select>
            </div>
        </div>
    </div>
</div>

<%- contentFor('title') %>
<title>AuditaCE - Fiscalização</title>

<link rel="stylesheet" type="text/css" href="styles/breadcrumb.css">
<link rel="stylesheet" type="text/css" href="styles/fiscalization.css">

<script 
src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" 
integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" 
crossorigin="anonymous"></script>

<script src="scripts/jquery.maskMoney.min.js"></script>
<script src="scripts/fiscalization.js"></script>