<div class="container">
    <%- include('../components/header') %>
    <nav aria-label="breadcrumb bg-dark">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="material-icons">home</i></li>
        </ol>
    </nav>
    <div class="row py-5">
        <div class="col-12 col-md-8 mx-auto text-center">
            <h1>AuditaCE</h1>
            <h2> Conheça mais sobre a aplicação dos recursos públicos municipais </h2>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-12 col-md-8 mx-auto text-left">
            <h3>O que é e como funciona?</h3>
            <p class="text-justify">
                O AuditaCE é um portal dispõe e analisa dados sobre contratos firmados pelas prefeituras municipais do Estado do Ceará. Nossa base é composta de dados oriundos do Tribual de Contas do Estado do Ceará, Tribunal Superior Eleitoral e Receita Federal. O AuditaCE consta com um sistema de alertas de risco de idoneidade a partir dos dados cruzados da nossa base e embasado pela literatura da área. Por exemplo, o AuditaCE é capaz de indicar a relação entre fornecedores e financiadores de campanha.

Além disso, a população é convidada a enriquecer as informações através de denúncias direcionadas aos contratos firmados. As denúncias podem ser feitas por qualquer cidadão, que pode optar por manter o sigilo dos seus dados.
<br/><br/>
Na aba <b>Fiscalização</b> é possível fazer a busca por informações de contratos municipais, bem como visualizar seus respectivos alertas de risco e suas denúncias acumuladas.
            </p>
        
            <br/>
            <h3> Como é calculado o nível de alerta? </h3>
            <p class="text-justify">
                Cada contrato recebe um Nível de Alerta de Risco, calculado através de uma soma ponderada na qual cada alerta apresenta um peso associado a sua gravidade segundo a tabela a seguir:
            </p>

            <table class="table table-striped mx-auto text-center">
                <thead>
                  <tr>
                    <th scope="col">Peso</th>
                    <th scope="col">Alerta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Fornecedor Distante</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Fornecedor Frequente</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Compra no Limite</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Data de Abertura</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Denúncia</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Financiador de Campanha</td>
                  </tr>
                  
                  
                </tbody>
              </table>
        </div>
    </div>

    
 
</div>


<%- contentFor('title') %>
<title>AuditaCE</title>

<link rel="stylesheet" type="text/css" href="styles/breadcrumb.css">
<link rel="stylesheet" type="text/css" href="styles/index.css">
