.table-bg {
    background-color: #f6f6f6;
}

.material-icons.alerts {
    color: red;
    font-size: 20px;
    position: relative;
    top: 4px;
}

.material-icons.clean {
    color: green;
    font-size: 20px;
    position: relative;
    top: 4px;
}

.material-icons.help {
    font-size: 20px;
    position: relative;
    top: 4px;
    cursor: help;
}

.list-inline {
    width: 100%;
}

.bg-danger {
    background-color: rgba(255, 0, 0, 0.2) !important;
}